{
  "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": false,
      }],
    ],
  "plugins": [
    ["transform-runtime", {
      "regenerator": true
    }],
    "@babel/plugin-transform-runtime"
  ]
}